body{
font-family: Arial, sans-serif;
margin:0;
background:#f5f5f5;
}

.menu{
background:#f18be0;
color:white;
padding:12px;
}

.menu a{
color:white;
text-decoration:none;
margin-left:15px;
}

.header{
background:#e9ecef;
padding:40px;
}

.btn{
background:#f4aae3;
color:white;
padding:8px 15px;
text-decoration:none;
border-radius:5px;
}

.about{
text-align:center;
padding:30px;
}

.biodata td{
background:#e9ecef;
padding:10px;
}

.porto img{
border-radius:10px;
}

.footer{
background:#f5c4ea;
height:30px;
}
